body{
     background: #555;
}
.content{
    max-width: 70%;
    margin: auto;
    background: white;
    padding: 10px;
    border: 3px solid black;
}
.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.content{
    max-width:80%;
}

.nav img{
    height:10vh;
}
.nav{
    background-color: white;
    padding: 0.2rem;
    min-height: 10vh;
}
.nav .nav-menu{
    justify-content: space-around;
}
.nav .name{
    font-size:1.5rem;
}

/*------------SiteContent-----------------------*/
main .events{
    display: grid;
    padding:2rem;
    margin:0rem;
    grid-template-columns:70%;
    justify-content:center;
    
}
main .event-content{
    width:100%;
    padding-top:5%;
}
main .events .events-content > .post-image .post-title{
    padding: 1rem 2rem;
    position: relative;
}


main .events .event-content > .post-image > div{
    overflow:hidden;

}
main .events .event-content>.post-image .img{
    width:90%;
    border:5px;
    border-style: solid;
    border-color: red;
}
.events .event-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}
.events .event-content .post-title {
    text-align:center;
}
.events .event-content .post-title .post-btn{
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
}
/*------x-----SiteContent------------x----------*/