* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Lato";
    display: block;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #341f97;
  }
.welcome_text{
}
.welcome_form input,
.welcome_form button{
    display: block;
}