
.card:hover{
    -webkit-box-shadow: -1px 9 px 40 px -12px rgba(0,0,0,0.75);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
.card{
    width: 18rem;
}
img{
    height:18rem;
}
.col-md